{% extends 'components/base.html' %}
{% block content %}
    {% load static %}
    <div class="container-fluid">
        <div class="row">
            <!-- Main Content -->
            <div class="col-md-12 col-lg-12 px-md-4 main-content">

                <!-- Mensajes de ERRORES -->
                {% include 'includes/messages.html' %}

                <!-- Doctor List Content -->
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h3 class="card-title mb-0 text-primary-emphasis fw-bold">{{ title1 }}</h3>
                        </div>

                        <!-- Search and Filter -->
                        <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between g-3 mb-4">
                            <form method="GET" action="{% url 'core:doctor_list' %}"
                                  class="d-flex flex-column flex-md-row gap-3 align-items-md-center">
                                <div class="col-md-6">
                                    <input type="text" name="q" class="form-control search-box"
                                           value="{{ request.GET.q }}"
                                           placeholder="Buscar doctor...">
                                </div>
                                <div class="col-md-6">
                                    <select class="form-select" name="doctor">
                                        <option value="T">Todos</option>
                                        <option value="True" {% if request.GET.doctor == "True" %} selected{% endif %}>
                                            Activo
                                        </option>
                                        <option value="False" {% if request.GET.doctor == "False" %}
                                                selected{% endif %}>
                                            Inactivo
                                        </option>
                                    </select>
                                </div>
                            </form>
                            {% if permissions.add_doctor %}
                                <a class="btn btn-primary mt-3 mt-md-0" href="{% url 'core:doctor_create' %}"
                                   style="background-color: #3B3BBA; color: white">
                                    <i class="fas fa-plus fa-lg me-2"></i>{{ title2 }}
                                </a>
                            {% endif %}
                        </div>

                        <!-- Mapa -->
                        <div id="map"
                             style="border-radius: 10px; height: 600px; width: 100%; border: 2px solid #3B3BBA">
                        </div>

                        <div class="table-responsive">

                            <!-- Tabla -->
                            <table class="table table-hover align-middle text-center">
                                <thead class="table-light">
                                <tr>
                                    <th>ID</th>
                                    <th>Foto</th>
                                    <th>Cédula</th>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>Especialidad</th>
                                    <th>Dirección</th>
                                    <th>Código</th>
                                    <th>Teléfonos</th>
                                    <th>Correo</th>
                                    <th>Horario</th>
                                    <th>Cita</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in doctores %}
                                    <tr>
                                        <td>{{ item.id }}</td>
                                        <td><img src="{{ item.get_image }}" class="rounded-circle" width="50px" alt="">
                                        </td>
                                        <td>
    <span class="reveal-cedula" onclick="revealCedula(this)">
        <i class="fa-solid fa-id-card fa-lg" style="cursor: pointer; color: #3498DB" title="{{ item.cedula }}"></i>
    </span>
                                            <span class="cedula-hidden"
                                                  style="display: none;">{{ item.cedula }}</span>
                                        </td>
                                        <td>{{ item.nombres }}</td>
                                        <td>{{ item.apellidos }}</td>
                                        <td>
                                            {% for especialidad in item.especialidad.all %}
                                                {{ especialidad.nombre }}{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        </td>
                                        {#                                        <td>{{ item.direccion }}</td>#}
                                        <td>
                                            <div class="text-center mt-2">
                                                <a href="https://www.google.com/maps/search/?api=1&query={{ item.latitud|stringformat:"f" }},{{ item.longitud|stringformat:"f" }}"
                                                   target="_blank" class="btn"
                                                   style="font-size: 12px;">
                                                    <i class="fas fa-map-marker-alt fa-lg" style="color: red"></i>
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                        <span class="reveal-codeUnico" onclick="revealCodeUnico(this)">
        <i class="fa-solid fa-id-card-clip fa-lg" style="cursor: pointer; color: #3498DB"
           title="{{ item.codigoUnicoDoctor }}"></i>
    </span>
                                            <span class="codeUnico-hidden"
                                                  style="display: none;">{{ item.codigoUnicoDoctor }}</span>
                                        </td>
                                        <td>
                                            <a href="tel:{{ item.telefonos }}" class="phone-icon"
                                               title="Llamar por teléfono {{ item.telefonos }}">
                                                <i class="fa-solid fa-square-phone fa-lg" style="color: #3498DB"></i>
                                            </a>
                                            <a href="whatsapp://send?phone={{ item.telefonos }}"
                                               title="Llamar por WhatsApp {{ item.telefonos }}" class="phone-icon">
                                                <i class="fa-brands fa-square-whatsapp fa-lg"
                                                   style="color: #3498DB"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="https://mail.google.com/mail/?view=cm&to={{ item.email }}"
                                               target="_blank"
                                               rel="noopener noreferrer"
                                               title="{{ item.email }}">
                                                <i class="fas fa-envelope fa-lg" style="color: #3498DB"></i>
                                            </a>
                                        </td>
                                        {#                                <td>{{ item.horario_atencion|striptags|truncatechars:100 }}</td>#}
                                        <td><a href="{% url 'core:doctorHorario_detail' item.pk %}" title="Ver Horario"
                                               class="btn btn-info btn-sm">
                                            <i class="fas fa-clock fa-lg"></i>
                                        </a></td>
                                        <td>{{ item.duracion_cita }} Min</td>
                                        <td>
                                            {% if item.activo %}
                                                <i class="fa-solid fa-circle-check" style="color: #3cff3c;"></i>
                                            {% else %}
                                                <i class="fa-solid fa-circle-xmark" style="color: red;"></i>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="action-buttons d-flex gap-2">

                                                {#                                              <a href="{% url 'attention:guardarRegistroHorasView'  %}"#}
                                                {#                                                   class="btn btn-info btn-sm text-white" title="Editar">#}
                                                {#                                                    <i class="fas fa-edit">agendar</i>#}
                                                {#                                                </a>#}


                                                <button class="btn btn-info btn-sm" title="Detalle Doctor"
                                                        onclick="verDetalle('{{ item.id }}')">
                                                    <i class="fas fa-eye"></i>
                                                </button>

                                                {% if permissions.change_doctor %}
                                                    <a href="{% url 'core:doctor_update' item.id %}"
                                                       class="btn btn-info btn-sm text-white" title="Editar">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                {% endif %}

                                                {% if permissions.delete_doctor %}
                                                    {% with id=item.id name=item.nombre_completo msg="¿Está seguro de eliminar a este Doctor?" %}
                                                        <button class="btn btn-danger"
                                                                onclick="confirmDelete('{{ id }}', '{{ name }}', '{{ msg|escapejs }}');">
                                                            <i class="fa-solid fa-trash"></i>
                                                        </button>
                                                    {% endwith %}
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>

                        <!-- Pagination -->
                        {% include 'includes/paginations.html' %}
                        <!-- Fin de Pagination -->

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'includes/confirm_delete_modal.html' %}
    {% include 'core/doctor/includes/doctor_detail.html' %}

    <!-- Después las bibliotecas y estilos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Convertir el string de locations a un objeto JavaScript
            var locations = JSON.parse('{{ locations|escapejs }}');

            // Inicializar el mapa
            var map = L.map('map');

            // Agregar la capa de tiles
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '© OpenStreetMap contributors'
            }).addTo(map);

            // Crear un array para almacenar todos los marcadores
            var markers = [];

            // Crear el icono personalizado
            var customIcon = L.divIcon({
                html: '<i class="fa-solid fa-user-doctor fa-lg" style="font-size: 30px; color: #3B3BBA"></i>',
                className: 'custom-div-icon',
                iconSize: [30, 30],
                iconAnchor: [15, 15],
                popupAnchor: [0, -15]
            });

            // Crear los marcadores para cada ubicación
            locations.forEach(function (location) {
                if (location.latitude && location.longitude) {
                    var marker = L.marker([location.latitude, location.longitude], {
                        icon: customIcon
                    });

                    var popupContent = `
                                                        <div class="popup-content" style="min-width: 180px; max-width: 280px;">
                                                            <div class="card shadow-sm" style="border-radius: 10px; overflow: hidden;">
                                                                <div class="card-header text-white" style="background-color: #3B3BBA; padding: 10px;">
                                                                    <strong> ${location.doctor} <i class="fas fa-user-circle fa-lg" style="margin-left: 8px;"></i></strong>
                                                               </div>
                                                                <div class="card-body" style="padding: 10px;">
                                                                        <div class="d-flex align-items-center mb-2">
                                                                        <img src="${location.image}" alt="${location.doctor} " width="50" height="50" style="border-radius: 50%; margin-right: 8px;">
                                                                <div>
                                                                    <p class="mb-1"><strong>Ubicación:</strong> ${location.address}</p>
                                                                    <p class="text-muted mb-0" style="font-size: 12px;">
                                                                    <i class="fas fa-map-marker-alt" style="color: red;"></i>
                                                                    ${location.latitude}, ${location.longitude}
                                                                    </p>
                                                               </div>
                                                            </div>
                                                            <div class="text-center mt-2">
                                                                <a href="https://www.google.com/maps/search/?api=1&query=${location.latitude},${location.longitude}" target="_blank" class="btn btn-sm btn-outline-primary" style="font-size: 12px;">
                                                                    <i class="fas fa-map-marker-alt"></i> Ver en Google Maps
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>`;

                    marker.bindPopup(popupContent, {
                        maxWidth: 300,
                        className: 'custom-popup'
                    });

                    markers.push(marker);
                    marker.addTo(map);
                }
            });

            // Si hay marcadores, ajustar la vista del mapa para mostrarlos todos
            if (markers.length > 0) {
                var group = new L.featureGroup(markers);
                map.fitBounds(group.getBounds().pad(0.2));
            } else {
                // Si no hay marcadores, mostrar una vista predeterminada
                map.setView([-2.129896, -79.593256], 13);
            }
        });
    </script>
    <style>
        .custom-div-icon {
            background: none !important;
            border: none !important;
            box-shadow: none !important;
        }

        .custom-div-icon i {
            display: block;
            text-align: center;
            line-height: 30px;
        }

        .custom-popup .leaflet-popup-content-wrapper {
            border-radius: 10px;
            padding: 0;
        }

        .custom-popup .leaflet-popup-content {
            margin: 0;
        }
    </style>

    <script>
        /* funciones del modal eliminar*/
        function confirmDelete(id, name, msg) {
            document.getElementById('modalMessage').innerText = `${msg} ${name}`;
            const form = document.getElementById('deleteForm');
            form.action = `/doctor_delete/${id}/`; // Ajusta la URL según tu configuración
            const modal = new bootstrap.Modal(document.getElementById('confirmDeleteModal'));
            modal.show();
        }

        function closeModal() {
            const modalElement = document.getElementById('confirmDeleteModal');
            const modalInstance = bootstrap.Modal.getInstance(modalElement);
            if (modalInstance) {
                modalInstance.hide();
            }
        }

        /* funciones del mode¿al detalle */
        function verDetalle(id) {
            fetch(`/doctor_detail/${id}/`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('doctor-id').textContent = data.id;
                    document.getElementById('doctor-doctor').textContent = data.doctor;
                    document.getElementById('doctor-cedula').textContent = data.cedula;
                    document.getElementById('doctor-fecha-nacimiento').textContent = data.fecha_nacimiento;
                    document.getElementById('doctor-edad').textContent = `${data.edad} años`;
                    document.getElementById('doctor-direccion').textContent = data.direccion;
                    document.getElementById('doctor-latitud').textContent = data.latitud;
                    document.getElementById('doctor-longitud').textContent = data.longitud;
                    document.getElementById('doctor-codigoUnico').textContent = data.codigoUnicoDoctor;
                    document.getElementById('doctor-especialidad').textContent = data.especialidad
                    document.getElementById('doctor-telefonos').textContent = data.telefonos;
                    document.getElementById('doctor-email').textContent = data.email;
                    document.getElementById('doctor-duracion-cita').textContent = data.duracion_cita;
                    document.getElementById('doctor-curriculum').innerHTML = data.curriculum ? `<a href="${data.curriculum}" target="_blank"><i class="fa-solid fa-eye me-2"></i></a>` : '<i class="fa-solid fa-circle-xmark" style="color: red;"></i>';
                    document.getElementById('doctor-firmaDigital').innerHTML = data.firmaDigital ? `<a href="${data.firmaDigital}" target="_blank"><i class="fa-solid fa-eye me-2"></i></a>` : '<i class="fa-solid fa-circle-xmark" style="color: red;"></i>';
                    document.getElementById('doctor-foto').src = data.foto;
                    document.getElementById('doctor-imagen-receta').innerHTML = data.imagen_receta ? `<a href="${data.imagen_receta}" target="_blank"><i class="fa-solid fa-eye me-2"></i></a>` : '<i class="fa-solid fa-circle-xmark" style="color: red;"></i>';

                    // Estado activo
                    if (data.activo) {
                        document.getElementById('doctor-activo').innerHTML = '<i class="fa-solid fa-circle-check" style="color: #3cff3c;"></i>';
                    } else {
                        document.getElementById('doctor-activo').innerHTML = '<i class="fa-solid fa-circle-xmark" style="color: red;"></i>';
                    }
                    const modal = new bootstrap.Modal(document.getElementById('modal'));
                    modal.show();
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Error al cargar los datos del doctor');
                });
        }
    </script>

    <script>
        function revealCedula(icon) {
            let cedulaElement = icon.nextElementSibling; // Obtenemos el siguiente elemento (el que contiene el código único)
            let cedula = cedulaElement.innerText; // Obtenemos el texto del código único

            // Copiar al portapapeles
            navigator.clipboard.writeText(cedula).then(function () {
                console.log('Código único copiado al portapapeles: ' + cedula);
            }).catch(function (err) {
                console.error('Error al copiar al portapapeles: ', err);
            });

            cedulaElement.style.display = 'inline'; // Mostramos el código único
            icon.style.display = 'none'; // Ocultamos el icono

            setTimeout(function () {
                cedulaElement.style.display = 'none'; // Ocultamos el código único después de 5 segundos
                icon.style.display = 'inline'; // Mostramos nuevamente el icono
            }, 5000);
        }
    </script>

    <script>
        function revealCodeUnico(icon) {
            let codeUnicoElement = icon.nextElementSibling; // Obtenemos el siguiente elemento (el que contiene el código único)
            let codigoUnico = codeUnicoElement.innerText; // Obtenemos el texto del código único

            // Copiar al portapapeles
            navigator.clipboard.writeText(codigoUnico).then(function () {
                console.log('Código único copiado al portapapeles: ' + codigoUnico);
            }).catch(function (err) {
                console.error('Error al copiar al portapapeles: ', err);
            });

            codeUnicoElement.style.display = 'inline'; // Mostramos el código único
            icon.style.display = 'none'; // Ocultamos el icono

            setTimeout(function () {
                codeUnicoElement.style.display = 'none'; // Ocultamos el código único después de 5 segundos
                icon.style.display = 'inline'; // Mostramos nuevamente el icono
            }, 5000);
        }
    </script>

{% endblock content %}