{% extends "components/base.html" %}

{% block content %}
    <div class="container">
        <h3 class="text-primary-emphasis mb-4 fw-bold">Factura de Atención Médica</h3>

        {#        <h2 class="mb-4">Factura de Atención Médica</h2>#}

        <div class="card mb-3">
            <div class="card-body">
                <h3>Información General</h3>
                <p><strong>Paciente:</strong> {{ paciente_nombre }}</p>
                <p><strong>DNI:</strong> {{ paciente_dni }}</p>
                <p><strong>Fecha de Atención:</strong> {{ atencion.fecha_atencion|date:"d/m/Y" }}</p>
                <p><strong>Costo de Consulta:</strong> $20</p>
            </div>
        </div>

        {% if detalles_medicamentos %}
            <div class="card mb-3">
                <div class="card-body">
                    <h3>Detalle de Medicamentos</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                            <th>Precio Unitario</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for detalle in detalles_medicamentos %}
                            <tr>
                                <td>{{ detalle.nombre }}</td>
                                <td>{{ detalle.cantidad }}</td>
                                <td>${{ detalle.precio_unitario|floatformat:2 }}</td>
                                <td>${{ detalle.total|floatformat:2 }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="3"><strong>Subtotal Medicamentos:</strong></td>
                            <td><strong>${{ subtotal_medicamentos|floatformat:2 }}</strong></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}

        {% if detalles_servicios %}
            <div class="card mb-3">
                <div class="card-body">
                    <h3>Detalle de Servicios Adicionales</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nombre del Servicio</th>
                            <th>Costo</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for servicio in detalles_servicios %}
                            <tr>
                                <td>{{ servicio.nombre_servicio }}</td>
                                <td>${{ servicio.costo_servicio|floatformat:2 }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td><strong>Subtotal Servicios:</strong></td>
                            <td><strong>${{ subtotal_servicios|floatformat:2 }}</strong></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}


        <div class="card">
            <div class="card-body">
                <h3>Resumen</h3>
                <p><strong style="color: green">Monto Total Calculado: $ {{ monto_total|floatformat:2 }}</strong></p>

                {% if diferencia > 0 %}
                    <p class="alert alert-warning" style="width: 30%"><strong>Nota:</strong> {{ mensaje_diferencia }}</p>
                {% elif diferencia < 0 %}
                    <p class="alert alert-info" style="width: 30%"><strong>Nota:</strong> {{ mensaje_diferencia }}</p>
                {% else %}
                    <p class="alert alert-success" style="width: 30%"><strong>Nota:</strong> {{ mensaje_diferencia }}</p>
                {% endif %}
            <div style="float: right; margin-top: -10%">
                {% if not pagado %}
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">Realizar Pago</button>
                    </form>
                {% else %}
                    <p class="alert alert-success">El pago ya ha sido realizado.</p>
                {% endif %}
            </div>
            </div>
        </div>
    </div>
{% endblock %}
