{% extends 'components/base.html' %}
{% block content %}
    {% load static %}
    <div class="container-fluid">
        <div class="row">
            <!-- Main Content -->
            <div class="col-md-12 col-lg-12 px-md-4 main-content">
                <!-- Mensajes de ERRORES -->
                {% include 'includes/messages.html' %}
                <!-- Patient List Content -->
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h3 class="card-title mb-0 text-primary-emphasis fw-bold">{{ title1 }}</h3>
                        </div>

                        <!-- Search and Filter -->
                        <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between g-3 mb-4">
                            <form method="GET" action="{% url 'core:categoryExamen_list' %}"
                                  class="d-flex flex-column flex-md-row gap-3 align-items-md-center">
                                <div class="col-md-6">
                                    <input type="text" name="q" class="form-control search-box"
                                           value="{{ request.GET.q }}"
                                           placeholder="Buscar categoría examen...">
                                </div>
                                <div class="col-md-6">
                                    <select class="form-select" name="categoryExamen">
                                        <option value="T">Todos</option>
                                        <option value="True" {% if request.GET.categoryExamen == "True" %}
                                                selected{% endif %}>Activo
                                        </option>
                                        <option value="False" {% if request.GET.categoryExamen == "False" %}
                                                selected{% endif %}>Inactivo
                                        </option>
                                    </select>
                                </div>
                            </form>
                            {% if permissions.add_categoriaexamen %}
                                <a style="background-color: #3B3BBA; color: white" class="btn btn-primary mt-3 mt-md-0"
                                   href="{% url 'core:categoryExamen_create' %}">
                                    <i class="fas fa-plus fa-lg me-2"></i>{{ title2 }}
                                </a>
                            {% endif %}
                        </div>

                        <div class="table-responsive">

                            <!-- Tabla -->
                            <table class="table table-hover align-middle text-center">
                                <thead class="table-light">
                                <tr>
                                    <th>ID</th>
                                    <th>Categoría Examen</th>
                                    <th>Descripción</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in categorias_examen %}
                                    <tr>
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.nombre }}</td>
                                        <td>{{ item.descripcion | striptags | truncatechars:100 }}</td>
                                        <td>
                                            {% if item.activo %}
                                                <i class="fa-solid fa-circle-check" style="color: #3cff3c;"></i>
                                            {% else %}
                                                <i class="fa-solid fa-circle-xmark" style="color: red;"></i>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="action-buttons d-flex gap-2">
                                                <button class="btn btn-info btn-sm" title="Detalle Categoría Examen"
                                                        onclick="verDetalle('{{ item.id }}')">
                                                    <i class="fas fa-eye"></i>
                                                </button>

                                                {% if permissions.change_categoriaexamen %}
                                                    <a href="{% url 'core:categoryExamen_update' item.id %}"
                                                       class="btn btn-info btn-sm text-white" title="Editar">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                {% endif %}

                                                {% if permissions.delete_categoriaexamen %}
                                                    {% with id=item.id name=item.nombre msg="Esta seguro de eliminar esta Categoría Examen:" %}
                                                        <button class="btn btn-danger"
                                                                onclick="confirmDelete('{{ id }}','{{ name }}','{{ msg|escapejs }}');">
                                                            <i class="fa-solid fa-trash"></i></button>
                                                    {% endwith %}
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <!-- Pagination -->
                        {% include 'includes/paginations.html' %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'includes/confirm_delete_modal.html' %}
    {% include 'core/categoryExamen/includes/categoryExamen_detail.html' %}

    <script>

        /* funciones del modal eliminar*/
        function confirmDelete(id, name, msg) {
            document.getElementById('modalMessage').innerText = `${msg} ${name}`;
            const form = document.getElementById('deleteForm');
            form.action = `/categoryExamen_delete/${id}/`; // Ajusta la URL según tu configuración
            const modal = new bootstrap.Modal(document.getElementById('confirmDeleteModal'));
            modal.show();
        }

        function closeModal() {
            const modalElement = document.getElementById('confirmDeleteModal');
            const modalInstance = bootstrap.Modal.getInstance(modalElement);
            if (modalInstance) {
                modalInstance.hide();
            }
        }

        /* funciones del mode¿al detalle */
        function verDetalle(id) {
            fetch(`/categoryExamen_detail/${id}/`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('categoryExamen-id').textContent = data.id;
                    document.getElementById('categoryExamen-nombre').textContent = data.nombre;
                    document.getElementById('categoryExamen-descripcion').textContent = data.descripcion;
                    if (data.activo) {
                        document.getElementById('categoryExamen-activo').innerHTML = '<i class="fa-solid fa-circle-check" style="color: #3cff3c;"></i>';
                    } else {
                        document.getElementById('categoryExamen-activo').innerHTML = '<i class="fa-solid fa-circle-xmark" style="color: red;"></i>';
                    }
                    const modal = new bootstrap.Modal(document.getElementById('modal'));
                    modal.show();
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Error al cargar los datos de la categoría de examen');
                });
        }
    </script>
{% endblock content %}